$brand-primary: #f44336;
$color-1: #11998e;
$color-2: #38ef7d;
$yellow: #f6d014;
$light-blue: #00bcd4;
$text-color: #a5a5a5;
$title-color: #222;

$white: #ffffff;
$light-grey: #f7f7f7;
$black: #000;
$black-russian-grey: #24252a;
$suva-grey: #888888;

$heading-font: 'Playfair Display',
serif;
$text-font: "Open Sans",
sans-serif;
$fontawesome: "FontAwesome";